<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Unext Automation test" thread-count="9">

	<test name="Edge Browser">
		<parameter name="browsername" value="Edge" />
		<classes>
			<class name="execution.Admin" />
		</classes>
	</test>
	
		<test name="Chrome Browser">
		<parameter name="browsername" value="Chrome" />
		<classes>
			<class name="execution.Admin" />
		</classes>
	</test>
	
		<test name="Firefox Browser">
		<parameter name="browsername" value="Firefox" />
		<classes>
			<class name="execution.Admin" />
		</classes>
	</test><!-- Test -->
</suite> <!-- Suite -->
